.aside3{
    font-family: "Titillium Web", arial, helvetica, sans-serif;
    color: #EE4B2B;
    margin-top: 50px;
    padding-right: 20px;
    font-size: 14px;
    cursor: pointer;

}
.aside3_bold1{
    font-size: 30px;
}
.aside3_bold2{
font-size: 25px;
}
.aside3_bold3{
font-size: 15px;
}